{% extends 'base.html.twig' %}

{% block steelsheets %}{% endblock %}


{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

	<h2 class="text-center mt-3">Création de votre compte développeur</h2>
	<br>
	<div class="row">
		<div class="col">

			{{ form_start(form)}}
			{{ form_rest(form)}}
			{{ form_end(form)}}


		{% endblock %}
		{% block javascripts %}


			{% if app.user %}
				<script>
					document.getElementById('inscription').style.display = 'none';
				</script>
				<script>
					document.getElementById('connexion').style.display = 'none';
				</script>
				<script>
					document.getElementById('deconnexion').style.display = 'block';
				</script>
				<script>
					document.getElementById('espace_membre').style.display = 'block';
				</script>
			{% else %}
				<script>
					document.getElementById('inscription').style.display = 'block';
				</script>
				<script>
					document.getElementById('connexion').style.display = 'block';
				</script>
				<script>
					document.getElementById('deconnexion').style.display = 'none';
				</script>
				<script>
					document.getElementById('espace_membre').style.display = 'none';
				</script>


			{% endif %}
		{% endblock %}
