{% extends "base.html.twig" %}

{% block title %}
	Choix utilisateur
{% endblock %}

{% block body %}
	<h2 class="text-center mt-5">Choisissez votre style de compte.</h2>

	<ul class="text-center mt-5" style="list-style: none">
		<li>
			<a class="nav-link choix" id="inscription" href="{{ path('security_registration_dev') }}" tabindex="-1" aria-disabled="true">
				<i class="fas fa-code mr-3"></i>Inscription développeur</a>
		</li>
		<li>
			<a class="nav-link choix" id="inscription" href="{{ path('security_registration_rec') }}" tabindex="-1" aria-disabled="true">
				<i class="fas fa-building mr-3"></i>Inscription recruteur</a>
		</li>
	</ul>


{% endblock %}
