{% extends 'base.html.twig' %}

{% block title %}Des Vieux dev !
{% endblock %}
{% block body %}
	<div class="jumbotron fond_presentation-accueil">
		<h1 class="display-3 text-center">
			<i class="fas fa-blind"></i>
			Bonjour et bienvenue</h1>

		<p class="text-center">Les nouveaux développeurs (<span class="orange">
				<strong>atypiques</strong>
			</span>) , sortis de formation souvent en reconversion, ont besoin de travailler.</p>

	</p>
	<hr class="my-4">
	<p class="text-center">J'appelle les vieux, les accidentés de la vie, les handicapés, etc... Sortez du lot !</p>
	<div class="text-center">
		<a class="btn btn-warning btn-lg" href="{{ path('concept') }}" role="button">En savoir plus</a>
	</div>
</div>

<script>
	document.getElementById('accueil').style.display = 'none';
</script>{% endblock %}
