{% extends 'base.html.twig' %}

{% block title %}Des Vieux dev !
{% endblock %}
{% block body %}
	<div class="jumbotron fond_presentation-accueil">
		<h1 class="display-3 text-center">
			<i class="fas fa-blind"></i>
			Bonjour et bienvenue</h1>

		<p class="text-center">Les nouveaux (<span class="orange">
				<strong>vieux</strong>
			</span>) développeurs, sortis de formation souvent en reconversion, ont besoin de travailler.</p>
		<p class="text-center">Les bons conseils que je lis partout sont sans doute pertinents mais ne s'appliquent pas à tous les cas.
																																																												Je ne doute pas une seconde que faire du bénévolat ou développer des projets persos soit enrichissants (pour l'éxperience), 
																																																												malheureusement, lorsque l'on ne vit plus chez ses parents et que l'on a soi même des enfants à nourrir,des factures à payer,etc.. c'est compliqué.
		</p>
		<hr class="my-4">
		<p class="text-center">C'est dans les vieux pots que les meilleures soupes sont préparées parait il.</p>
		<div class="text-center">
			<a class="btn btn-warning btn-lg" href="{{ path('concept') }}" role="button">En savoir plus</a>
		</div>
	</div>
{% endblock %}
