<footer class="foot mt-5">
	<div id="mentions" class="text-center">
		<p class="">
			<a href="#">Mentions légales</a>
		</p>
		<p>
			<i class="far fa-envelope"></i>
			<a href="#">
				Nous contacter</a>
		</p>
		<p>Copyright ©2020
			<a href="#">devieux.fr</a>
			tous droits réservés.</p>
	</div>
</footer>
