{% extends 'base.html.twig' %}

{% block title %}Le concept
{% endblock %}

{% block body %}
	<div class="font_concept">
		<h2 class="text-center mt-5">Pourquoi ce site ?</h2>

		<div class="row mt-5 ipad smart">
			<p class="text-center">Après avoir suivi une formation de développeur web dans le but de me reconvertir dans ce metier passionnant, je me suis vite rendu compte
																																				que dépassé quarante ans, c'est compliqué de se faire embaucher.</p>
			<p class="text-center">Après avoir postulé à differentes offres correspondant à mon profil, je ne suis même pas allé jusqu'a l'entretien.
																																				Malheureusement je ne suis pas le seul dans ce cas.
			</p>
			<p class="text-center">Le développeur senior (de part son age) doit être efficace dès le début de sa carrière, pas de temps à perdre pour former un "vieux".
																															Il faut donc trouver un moyen de gagner sa vie autrement et cela passe souvent par le fait de devenir freelance.
																															Evidement freelance ne veut pas dire salaire mais par contre ca veut dire travail. Déjà travail pour être meilleur et pouvoir répondre
																															aux eventuelles demandes alors que sortant de formation , on ne sait parfois pas par ou commencer.</p>
			<p class="text-center">Alors pour ceux qui comme moi ont poussés leur apprentissage dans le but d'être opérationnels,n'hésitez pas à vous inscrire,
																															sur ce site. Je l'ai créé d'une part pour me faire la main et si ça peut aider à bosser tant mieux.
																															En esperant que certains recruteurs ne soient pas effrayés par les quadragenaires (et autre) voir même que certains
																															recherchent finalement des développeurs grisonants.
			</p>
		</p>
	</div>
</div>{% endblock %}
