{% extends 'base.html.twig' %}

{% block title %}Le concept
{% endblock %}

{% block body %}
	<div class="font_concept">
		<h2 class="text-center mt-5">Pourquoi ce site ?</h2>

		<div class="row mt-5 ipad smart">
			<p class="text-center">
				Il est difficile aujourd'hui de se reconvertir dans le milieu du développement web et en général dans toutes les nouvelles
								technologies. 
								Ce milieu réclame de la main d'oeuvre belle, jeune et en pleine forme (c'est peut être un préjugé mais c'est l'impression que j'ai).
								Parti du constat que l'on est pas tous au sommet de notre forme mais que l'on a tous des choses intérressantes à proposer ,voici un site
								qui vous propose la mise en relation avec des tas de développeurs différents, de tous horizons, arrivés dans ce metier pour diverses raisons.
								Amis développeurs n'hésitez pas à vous y inscrire et eventuellement d'éxpliquer les raisons qui vous ont mené la. Amis recruteurs ,que ce soit
								pour une mission ponctuelle ,trouver un stagiaire ou bien pour un CDI vous êtes au bon endroit.
								
								Bonne chance dans vos recherches !
			</p>

		</p>
	</div>
</div>{% endblock %}
