body {
  background-color: #2a2a3b !important;
}

.orange {
  color: rgb(250, 129, 48);
}

/* ombre navbar */
.navbar {
  box-shadow: 5px 5px 5px 5px #181822;
}

/* style des divs déroulants contenant les catégories */

.dropdown-menu {
  background-color: rgb(199, 109, 50) !important;
  border-radius: 20px !important;
}

.dropdown-item {
  border-radius: 20px !important;
}

.dropdown-item:hover {
  box-shadow: 2px 2px 2px 2px #181822;
  font-size: 1.2em;
}

/* Style du jumbotron de l'accueil */
.jumbotron {
  margin-top: 150px;
  box-shadow: 5px 5px 5px 5px #181822;
}

.fond_presentation-accueil {
  background-color: #2a9fd6 !important;
  color: #ffffff;
  border-radius: 20px !important;
}

/* Couleur des liens de la navbar */
.nav-link {
  color: #ffffff !important;
}

/* Couleur des liens de la navbar au survol */
.nav-link:hover {
  color: #000000 !important;
}

/* Couleur de fond de la span qui affiche les catégories de l'utilisateur */
.catColor {
  width: 30px;
  height: auto;
  background-color: rgb(199, 109, 50);
  color: #ffffff;
  padding: 5px 5px;
  border-radius: 10px;
}

/* Couleur de fond de la span qui affiche les titres de presentation de l'utilisateur */
.titreColor {
  width: 30px;
  height: auto;
  background-color: rgb(199, 109, 50);
  color: #ffffff;
  padding: 5px 5px;
  border-radius: 10px;
}

/* forme ronde pour l'affichage des avatars des espaces membre*/

.imageRond {
  border-radius: 50%;
  box-shadow: 5px 5px #181822;
}

/* forme ronde pour l'affichage des avatars des listes des utilisateurs selon la catégorie*/

.imageRondCat {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

/* bouton telecharger un avatar */
.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Browse" !important;
}

.custom-file-input:lang(fr) ~ .custom-file-label::after {
  content: "Choisir" !important;
}

/* liens de la page choix de création de compte */

.choix {
  color: #ffffff !important;
  font-size: 1.5em;
}

.choix:hover {
  color: #2a9fd6 !important;
}

/* Style du tableau des messages */

.fond_message {
  background-color: #1c443f;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px #181822;
}

/* Style du tableau des réponses */

.fond_reponse {
  background-color: #ca804e;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px #181822;
}

/* la map */

#map {
  width: 350px;
  height: 350px;
  border-radius: 20px;
  z-index: 9;
}
