body {
  background-color: #2a2a3b !important;
}

/* Message cookies */
#cookieMessage {
  width: 150px;
  background: linear-gradient(to right, rgb(199, 109, 50), grey) !important;
  border-radius: 20px;
  color: #ffffff;
  text-align: center;
  padding: 15px auto;
}

.orange {
  width: 10px;
  height: auto;
  background-color: rgb(250, 129, 48);
  color: #ffffff;
}

/* ombre navbar */
.navbar {
  background: linear-gradient(to right, grey, #2a9fd6) !important;
  box-shadow: 5px 5px 5px 5px #181822;
}

/* liens inscription connexion */

.liens_insc_conn {
  border-radius: 20px;

  background-color: rgb(199, 109, 50);
}

/* style des divs déroulants contenant les catégories */

.dropdown-menu {
  background: linear-gradient(to right, rgb(199, 109, 50), grey) !important;
  border-radius: 20px !important;
}

.dropdown-item {
  border-radius: 20px !important;
}

.dropdown-item:hover {
  font-size: 1.2em;
  background: linear-gradient(to right, #2a9fd6, grey) !important;
}

/* Style du jumbotron de l'accueil */
.jumbotron {
  background: linear-gradient(to right, #2a9fd6, grey);
  margin-top: 150px;
  box-shadow: 5px 5px 5px 5px #181822;
}

.fond_presentation-accueil {
  background-color: #2a9fd6 !important;
  color: #ffffff;
  border-radius: 20px !important;
}

/* Couleur des liens de la navbar */
.nav-link {
  color: #ffffff !important;
}

/* Couleur des liens de la navbar au survol */
.nav-link:hover {
  color: #000000 !important;
}

/* Taille du texte de la page context */
.font_concept {
  font-size: 1.2em;
}

/* Couleur de fond de la span qui affiche les catégories de l'utilisateur */
.catColor {
  width: 30px;
  height: auto;
  background-color: rgb(199, 109, 50);
  color: #ffffff;
  padding: 5px 5px;
  border-radius: 10px;
}

/* Couleur de fond de la span qui affiche les titres de presentation de l'utilisateur */
.titreColor {
  width: 30px;
  height: auto;
  background-color: rgb(199, 109, 50);
  color: #ffffff;
  padding: 5px 5px;
  border-radius: 10px;
}

/* forme ronde pour l'affichage des avatars des espaces membre*/

.imageRond {
  width: 50px;
  border-radius: 50%;
  box-shadow: 5px 5px #181822;
}

.imageRondProfil {
  width: 200px;
  border-radius: 50% !important;
  box-shadow: 5px 5px #181822;
}

/* taille police espace perso */
.espace_perso_taille_police {
  font-size: 1.2em;
}

/* forme ronde pour l'affichage des avatars des listes des utilisateurs selon la catégorie*/

.imageRondCat {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

/* bouton telecharger un avatar */
.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Browse" !important;
}

.custom-file-input:lang(fr) ~ .custom-file-label::after {
  content: "Choisir" !important;
}

/* liens de la page choix de création de compte */

.choix {
  color: #ffffff !important;
  font-size: 1.5em;
}

.choix:hover {
  color: #2a9fd6 !important;
}

/* Style du tableau des messages */

.fond_message {
  background-color: #1c443f;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px #181822;
}

/* Style du tableau des réponses */

.fond_reponse {
  background-color: #ca804e;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px #181822;
}

/* taille de la police du badge entreprise */

.badge_entreprise {
  font-size: 1.2em !important;
}

/* la map */

#map {
  width: 350px;
  height: 350px;
  border-radius: 20px;
  z-index: 9;
}

/* fond des divs de presentation */

.fond {
  background: linear-gradient(to right, #2a9fd6, grey) !important;
  border-bottom: 100px solid transparent;
  border-top: 50px solid transparent;
  border-radius: 20px;
  height: auto;
  width: auto;
  color: #ffffff;
  padding: 0 20px;
}

.triangle {
  width: 160px;
  height: 160px;
  /* position: absolute; */
  padding-top: 150px;
  left: 45%;
  clip: rect(auto, 180px, auto, 100px);
  transform: rotate(-90deg);
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.triangle::after {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #2a9fd6),
    color-stop(100%, grey)
  );
  transform: rotate(-45deg);
}

.triangleInverse {
  display: inline-block;
  height: 0;
  width: 0;
  border-right: 87px solid transparent;
  border-top: 150px solid #2a9fd6;
  border-left: 87px solid transparent;
  margin: o auto;
  transform: translateX(155%);
  line-height: 15;
  color: white;
}

.ville {
  position: absolute;
  z-index: 9;
  transform: rotate(90deg);
  top: 68px;
  color: white;
  right: 60px;
}

.exp {
  position: absolute;
  z-index: 9;
  transform: rotate(90deg);
  top: 68px;
  color: white;
  right: 60px;
}

.rond {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: linear-gradient(to right, #2a9fd6, grey) !important;
  transform: translateX(30%);
  line-height: 10;
  color: white;
  text-overflow: "";
}

.pPresentation {
  /* paragraphe presentation (rond) */

  padding: 120px 30px;
  line-height: 4;
}
/* forme des boutons */

.btn {
  border-radius: 20px !important;
}

/* --  ==== MEDIAQUERIES ====  -- */

@media all and (max-width: 1024px) {
  /* ipad */

  #accueil {
    font-size: 1.5em !important;
  }

  .dropdown-menu {
    font-size: 1em !important;
  }

  .navbar {
    font-size: 2em !important;
    width: 100% !important;
  }

  .container {
    font-size: 2em !important;
  }

  .ipad {
    font-size: 1em;
  }

  .btn {
    font-size: 1em !important;
  }

  .largeur_presentation {
    width: 600px;
    height: auto;
    margin: 0 auto;
    font-size: 1em;
  }

  #map {
    margin: 0 auto !important;
    margin-bottom: 10px;
    transform: translateX(50%);
  }

  /* paragraphe presentation (rond) */
  .pPresentationResponsive {
    padding: 80px 30px;
    line-height: 1.5;
  }

  .rond {
    transform: translateX(27%);
  }

  .triangle {
    transform: translateX(148%);
  }

  .triangleInverse {
    transform: translateX(148%);
  }

  .exp {
    position: absolute;
    z-index: 9;
    transform: rotate(90deg);
    top: -20px;
    color: white;
    right: 70px;
  }

  /* formes géométriques */
  .ville {
    position: absolute;
    z-index: 9;
    transform: rotate(90deg);
    top: -20px;
    color: white;
    right: 70px;
  }

  .triangle {
    width: 160px;
    height: 160px;
    /* position: absolute; */
    padding-top: 150px;
    left: 45%;
    clip: rect(auto, 180px, auto, 100px);
    transform: rotate(-90deg);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .triangle::after {
    content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, #2a9fd6),
      color-stop(100%, grey)
    );
    transform: rotate(-45deg);
  }
}

@media all and (max-width: 500px) {
  /* smartphone */

  /* taille du texte de l'espace membre */
  .smart {
    font-size: 2em !important;
  }

  #map {
    width: 600px !important;
    height: 600px !important;
  }

  .message_smart input {
    width: 100%;
    height: auto;
  }

  .font_concept {
    font-size: 2em;
  }

  .navbar {
    font-size: 2em;
  }

  .btn {
    font-size: 0.5em !important;
  }

  .triangle {
    transform: translateX(148%);
  }

  /* paragraphe presentation (rond) */
  .pPresentationResponsive {
    padding: 80px 30px;
    line-height: 1.5;
  }
}
