{% extends 'base.html.twig' %}

{% block title %}Nouveau message
{% endblock %}

{% block body %}
	<h1>Envoyer un message à
		{{ slug }}</h1>

	{{ include('message/_form.html.twig') }}


	<button class="btn btn-primary btn-sm mt-3" onclick="rtn()">Retour à son profil</button>


	<script>
		function rtn() {
window.history.back();
}
	</script>
{% endblock %}
