{% extends "base.html.twig" %}

{% block title %}
	Souci
{% endblock %}

{% block body %}
	<div class="container mt-5 text-center">
		<h1>Mince ! un souci vient du serveur.</h1>
		<a href="{{ path("homepage") }}" class="href btn btn-primary mt-3">Retour à l'accueil</a>
	</div>
{% endblock %}
